---
kind: Service
apiVersion: v1
metadata:
  name: tke-gateway
  namespace: tke
  annotations:
    tke.prometheus.io/scrape: "true"
    prometheus.io/scheme: https
    prometheus.io/port: "9441"
spec:
  selector:
    app: tke-gateway
  ports:
    - name: http
      nodePort: 31180
      port: 80
      protocol: TCP
      targetPort: 80
    - name: https
      nodePort: 31443
      port: 443
      protocol: TCP
      targetPort: 443
---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: tke-gateway
  namespace: tke
spec:
  selector:
    matchLabels:
      app: tke-gateway
  template:
    metadata:
      labels:
        app: tke-gateway
    spec:
      dnsPolicy: ClusterFirstWithHostNet
      nodeSelector:
        node-role.kubernetes.io/master: ""
      containers:
        - name: tke-gateway
          image: {{ .Image }}
          args:
            - -C=/app/conf/tke-gateway.toml
          volumeMounts:
            - name: certs-volume
              mountPath: /app/certs
            - name: tke-gateway-volume
              mountPath: /app/conf
          readinessProbe:
            httpGet:
              port: 80
              path: /healthz
              scheme: HTTP
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              port: 80
              path: /healthz
              scheme: HTTP
            initialDelaySeconds: 15
            periodSeconds: 20
          resources:
            limits:
              cpu: 100m
              memory: 256Mi
            requests:
              cpu: 50m
              memory: 128Mi
      volumes:
        - name: certs-volume
          configMap:
            name: certs
        - name: tke-gateway-volume
          configMap:
            name: tke-gateway
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: tke-gateway
  namespace: tke
data:
  tke-gateway.toml: |
    gateway_config = "/app/conf/tke-gateway-config.yaml"

    [authentication]

      [authentication.oidc]
      client_secret = "{{ .OIDCClientSecret }}"
      client_id = "default"
      issuer_url = "https://tke-auth-api/oidc"
      ca_file = "/app/certs/ca.crt"
      username_prefix ="-"
      username_claim = "name"
      groups_claim = "groups"
      tenantid_claim = "federated_claims"

    [insecure_serving]
    port = 80

    [secure_serving]
    port = 443
    tls_cipher_suites = ["TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256", "TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384", "TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256", "TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384", "TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305", "TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305", "TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA", "TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA", "TLS_RSA_WITH_AES_128_GCM_SHA256", "TLS_RSA_WITH_AES_256_GCM_SHA384", "TLS_RSA_WITH_AES_128_CBC_SHA", "TLS_RSA_WITH_AES_256_CBC_SHA"]
{{- if .SelfSigned }}
    tls_cert_file = "/app/certs/server.crt"
    tls_private_key_file = "/app/certs/server.key"
{{- else }}
    tls_cert_file = "/app/conf/server.crt"
    tls_private_key_file = "/app/conf/server.key"
{{- end }}

  tke-gateway-config.yaml: |
    apiVersion: gateway.config.tkestack.io/v1
    kind: GatewayConfiguration
{{- if .EnableAuth }}
    auth:
      defaultTenant: {{ .TenantID }}
{{- end }}
{{- if .EnableRegistry }}
    registry:
      defaultTenant: {{ .TenantID }}
      domainSuffix: {{ .RegistryDomainSuffix }}
{{- end }}
    components:
{{- if .EnableAuth }}
      auth:
        address: https://tke-auth-api
        passthrough:
          caFile: /app/certs/ca.crt
{{- end }}
      platform:
        address: https://tke-platform-api
        passthrough:
          caFile: /app/certs/ca.crt
{{- if .EnableBusiness }}
      business:
        address: https://tke-business-api
        passthrough:
          caFile: /app/certs/ca.crt
{{- end }}
{{- if .EnableMonitor }}
      monitor:
        address: https://tke-monitor-api
        passthrough:
          caFile: /app/certs/ca.crt
      notify:
        address: https://tke-notify-api
        passthrough:
          caFile: /app/certs/ca.crt
{{- end }}
{{- if .EnableRegistry }}
      registry:
        address: https://tke-registry-api
        passthrough:
          caFile: /app/certs/ca.crt
{{- end }}
{{- if .EnableLogagent }}
      logagent:
        address: https://tke-logagent-api
        passthrough:
          caFile: /app/certs/ca.crt
{{- end }}
{{- if .EnableAudit }}
      audit:
        address: https://tke-audit-api
        passthrough:
          caFile: /app/certs/ca.crt
{{- end }}
{{- if .EnableApplication }}
      application:
        address: https://tke-application-api
        passthrough:
          caFile: /app/certs/ca.crt
{{- end }}
{{- if .EnableMesh }}
      mesh:
        address: https://tke-mesh-api
        passthrough:
          caFile: /app/certs/ca.crt
{{- end }}
{{- if not .SelfSigned }}
  server.crt: |
{{ .ServerCrt | spaces 4 }}
  server.key: |
{{ .ServerKey | spaces 4 }}
{{- end }}
