# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

* @choujimmy @QianChenglong
/web/ @Yacent
/api/ @choujimmy
/build/ @QianChenglong
/docs/ @interstallers @perfey-he @ruyingzhe
/hack/ @perfey-he
/pkg/auth/ @yadzhang
/pkg/business/ @defydahui
/pkg/monitor/ @kevinfeng @wangao1236
/pkg/notify/ @kevinfeng
/pkg/registry/ @choujimmy
/pkg/platform/ @QianChenglong
/pkg/gateway/ @choujimmy