**/zz_generated.*.go linguist-generated=true
**/types_swagger_doc_generated.go linguist-generated=true
**/generated.pb.go linguist-generated=true
**/generated.proto
api/client/**/*.go linguist-generated=true
**/assets/assets.go linguist-generated=true
