apiVersion: v1
data:
  password: {{ es_pwd_base64 }}
  username: {{ es_uname_base64 }}
  keypassphrase: bW9zaG91
  encryptionkey: ZWpmYWVsc2pmcnFmZHI3OTRybmNsdmpkZXctcml3ZWRz
kind: Secret
metadata:
  labels:
    es: baseauth
  name: elastic-credentials
  namespace: pot
type: Opaque
