apiVersion: platform.tkestack.io/v1
kind: Prometheus
metadata:
  generateName: prometheus
  name: prometheus-tkestack
spec:
  clusterName: global
  remoteAddress: {}
  tenantID: default
  version: v1.0.0
