---
kind: Service
apiVersion: v1
metadata:
  name: tke-notify-api
  namespace: tke
spec:
  selector:
    app: tke-notify-api
  ports:
    - protocol: TCP
      port: 443
      targetPort: 9457
---
kind: Deployment
apiVersion: apps/v1
metadata:
  labels:
    app: tke-notify-api
  name: tke-notify-api
  namespace: tke
spec:
  replicas: {{ .Replicas }}
  selector:
    matchLabels:
      app: tke-notify-api
  template:
    metadata:
      labels:
        app: tke-notify-api
    spec:
      containers:
        - name: tke-notify-api
          image: {{ .Image }}
          args:
            - -C=/app/conf/tke-notify-api.toml
          volumeMounts:
            - name: certs-volume
              mountPath: /app/certs
            - name: tke-notify-api-volume
              mountPath: /app/conf
          ports:
            - containerPort: 9457
          readinessProbe:
            httpGet:
              port: 9457
              path: /healthz/ping
              scheme: HTTPS
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              port: 9457
              path: /healthz
              scheme: HTTPS
            initialDelaySeconds: 15
            periodSeconds: 20
          resources:
            limits:
              cpu: 500m
              memory: 1Gi
            requests:
              cpu: 250m
              memory: 256Mi

      volumes:
        - name: certs-volume
          configMap:
            name: certs
        - name: tke-notify-api-volume
          configMap:
            name: tke-notify-api
---
kind: ConfigMap
apiVersion: v1
metadata:
  name: tke-notify-api
  namespace: tke
data:
  tke-notify-api.toml: |
    [secure_serving]
    tls_cert_file = "/app/certs/server.crt"
    tls_private_key_file = "/app/certs/server.key"

    [etcd]
    servers = [
      "https://etcd:2379"
    ]
    cafile = "/app/certs/etcd-ca.crt"
    certfile = "/app/certs/etcd.crt"
    keyfile = "/app/certs/etcd.key"

    [generic]
    external_hostname = "tke-notify-api"
    external_port = 443

    [authentication]
    token_auth_file = "/app/certs/token.csv"
    client_ca_file = "/app/certs/ca.crt"

      [authentication.oidc]
{{- if .EnableAuth }}
      client_id = "default"
      issuer_url = "https://tke-auth-api/oidc"
      external_issuer_url = "https://tke-auth-api/oidc"
      ca_file = "/app/certs/ca.crt"
      username_prefix ="-"
      username_claim = "name"
      groups_claim = "groups"
      tenantid_claim = "federated_claims"
{{- else }}
      client_id = {{ .OIDCClientID }}
      issuer_url = {{ .OIDCIssuerURL }}
  {{- if .UseOIDCCA }}
      ca_file = "/app/certs/oidc-ca.crt"
  {{- end}}
{{- end }}

      [authentication.requestheader]
      client_ca_file = "/app/certs/ca.crt"
      username_headers = "X-Remote-User"
      extra_headers_prefix = "X-Remote-Extra-"

    [authorization]
{{- if .EnableAuth }}
    mode = "Webhook"
    webhook_config_file = "/app/conf/tke-auth-webhook.yaml"
{{- end }}

    [client]

      [client.platform]
      api_server = "https://tke-platform-api"
      api_server_client_config = "/app/conf/tke-platform-config.yaml"

  tke-auth-webhook.yaml: |
    apiVersion: v1
    kind: Config
    clusters:
      - name: tke
        cluster:
          certificate-authority: /app/certs/ca.crt
          server: https://tke-auth-api/auth/authz
    users:
      - name: admin-cert
        user:
          client-certificate: /app/certs/admin.crt
          client-key: /app/certs/admin.key
    current-context: tke
    contexts:
    - context:
        cluster: tke
        user: admin-cert
      name: tke

  tke-platform-config.yaml: |
    apiVersion: v1
    kind: Config
    clusters:
      - name: tke
        cluster:
          certificate-authority: /app/certs/ca.crt
          server: https://tke-platform-api
    users:
      - name: admin-cert
        user:
          client-certificate: /app/certs/admin.crt
          client-key: /app/certs/admin.key
    current-context: tke
    contexts:
      - context:
          cluster: tke
          user: admin-cert
        name: tke
