apiVersion: v1
kind: PersistentVolume
metadata:
  name: data-kafka-0
  labels:
    kafka-pv: data-kafka
spec:
  capacity:
    storage: 5Gi 
  accessModes:
  - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: local-storage
  local:
    path: {{ kafka_data }}/data-0
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
          - {{ groups['logs'][0] }}
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: data-kafka-1
  labels:
    kafka-pv: data-kafka
spec:
  capacity:
    storage: 5Gi 
  accessModes:
  - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: local-storage
  local:
    path: {{ kafka_data }}/data-1
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
          - {{ groups['logs'][1] }}
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: data-kafka-2
  labels:
    kafka-pv: data-kafka
spec:
  capacity:
    storage: 5Gi 
  accessModes:
  - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: local-storage
  local:
    path: {{ kafka_data }}/data-2
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
          - {{ groups['logs'][2] }}
