{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "modules": "commonjs"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    [
      "import",
      {
        "libraryName": "antd", // 包名
        "libraryDirectory": "lib", // 目录，默认 lib
        "style": true // 是否引入 style
      }
    ]
  ]
}
