{
  "extends": ["eslint-config-alloy/react", "eslint-config-alloy/typescript"],
  "rules": {
    "@typescript-eslint/no-namespace": ["off"],
    "indent": ["off"],
    "no-script-url": ["off"],
    "no-implicit-coercion": ["off"],
    "complexity": ["error", 50],
    "radix": ["off"],
    "one-var": ["off"],
    "guard-for-in": ["off"],
    "no-undefined": ["off"],
    "no-undef": ["off"],
    "function-paren-newline": ["off"],
    "prefer-object-spread": ["off"],
    "implicit-arrow-linebreak": ["off"],
    "react/jsx-fragments": ["off"],
    "spaced-comment": ["off"],
    "no-useless-catch": ["off"],
    "require-atomic-updates": ["off"],
    "@typescript-eslint/indent": ["off", 2],
    "@typescript-eslint/explicit-member-accessibility": ["off"],
    "@typescript-eslint/no-var-requires": ["off"],
    "@typescript-eslint/no-inferrable-types": ["off"],
    "@typescript-eslint/prefer-for-of": ["off"],
    "@typescript-eslint/no-object-literal-type-assertion": ["off"],
    "@typescript-eslint/no-this-alias": ["off"],
    "@typescript-eslint/member-ordering": ["off"],
    "react/jsx-pascal-case": ["off"],
    "react/no-deprecated": ["off"],
    "react/jsx-indent-props": ["error", 2],
    "react/jsx-indent": ["error", 2],
    "react/jsx-curly-newline": ["off"],
    "react/static-property-placement": ["off"],
    "react/jsx-curly-brace-presence": ["off"],
    "react/sort-comp": ["off"]
  },
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "rules": {
        "no-unused-vars": ["off"]
      }
    }
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "parser": "@typescript-eslint/parser"
}
