{
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:@typescript-eslint/recommended", "react-app"],
  "plugins": ["@typescript-eslint", "react"],
  "rules": {
    "no-restricted-globals": 1,
    "@typescript-eslint/ban-types": 1,
    "prefer-const": 1,
    "@typescript-eslint/no-var-requires": 1,
    "@typescript-eslint/no-inferrable-types": 1,
    "@typescript-eslint/no-empty-function": 1,
    "@typescript-eslint/no-empty-interface": 1,
    "@typescript-eslint/no-this-alias": 1,
    "prefer-spread": 1,
    "prefer-rest-params": 1,
    "@typescript-eslint/triple-slash-reference": 1,
    "@typescript-eslint/explicit-module-boundary-types": "off"
  }
}
