<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>TKEStack - Approval</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/oidc/static/style.css" rel="stylesheet" data-role="global">
    <link rel="apple-touch-icon" sizes="57x57" href="/oidc/static/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/oidc/static/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/oidc/static/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/oidc/static/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/oidc/static/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/oidc/static/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/oidc/static/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/oidc/static/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/oidc/static/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/oidc/static/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/oidc/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/oidc/static/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/oidc/static/favicon-16x16.png">
    <link rel="manifest" href="/oidc/static/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/oidc/static/ms-icon-144x144.png">
    <meta name="theme-color" content="#262626">
</head>

<body>
<div class="clg-head">
    <div class="clg-head-inner">
        <div class="clg-logo ">
            <a href="/">TKEStack</a>
        </div>
    </div>
</div>
<div class="clg-wrap">
    <div class="clg-wrap-inner">
        <div class="clg-wrap-con clg-onpage" id="loginBox">
            <div class="clg-mod J-commonLoginContent ">
                <div class="clg-mod-tab J-loginContentBox J-qcloginBox">
                    <div class="clg-mod-tit J-txtLoginTitle">授权信息</div>
                    <div class="clg-form J-loginForm">
                        <div>【TKEStack控制台】将获得以下权限:</div>
                        <ul class="clg-form-list">
                            {{ range $scope := .Scopes }}
                                <li>
                                    <div class="clg-form-input">
                                        <div class="clg-form-unit">
                                            <p class="clg-form-unit-txt"
                                               style="margin-top:5px">
                                                >{{ $scope }}</p>
                                        </div>
                                    </div>
                                </li>
                            {{ end }}
                        </ul>
                        <form method="post" id="grantForm"
                              style="margin-top:30px">
                            <input type="hidden" name="req"
                                   value="{{ .AuthReqID }}"/>
                            <input type="hidden" name="approval"
                                   value="approve">
                            <div class="clg-form-btn">
                                <a onclick="subgrantForm();"
                                   class="clg-btn J-loginBtn">确认</a>
                            </div>
                        </form>
                        <form method="post" id="cancelForm"
                              style="margin-top:10px">
                            <input type="hidden" name="req"
                                   value="{{ .AuthReqID }}"/>
                            <input type="hidden" name="approval"
                                   value="rejected">
                            <div class="clg-form-btn">
                                <a onclick="subgcancelForm();"
                                   class="clg-btn J-loginBtn"
                                   style="background-color:#fff;color: black;border: 1px solid #ddd">取消</a>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <div class="clg-wrap-aside">
                <div class="clg-wrap-aside-inner">
                    <div class="clg-wrap-aside-tit">TKEStack</div>
                    <div class="clg-wrap-aside-list">
                        <ul>
                            <li><span>登录成功，需要您再次确认 【TKEStack控制台】 可以获取权限</span></li>
                        </ul>
                    </div>
                    <div class="clg-wrap-aside-btn"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
        function subgrantForm(){
            document.getElementById("grantForm").submit();
        }
        function subgcancelForm(){
            document.getElementById("grantForm").submit();
        }
</script>
</body>
</html>
