name: build

on:
  push:
    branches:
      - master

  pull_request:
    branches:
      - master

jobs:
  build:

    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v2

    - name: Make build lint and test
      id: make
      run: |
        make push IMAGES="tke-platform-api"
