name: e2e

on:
  push:
    branches:
      - master

  pull_request:
    branches:
      - master
env:
  VERSION: ${{ github.sha }}
  BUILDER: ${{ secrets.BUILDER }}
  KUBECONFIG: ${{ secrets.KUBECONFIG }}
  REGISTRY_USERNAME: ${{ secrets.REGISTRY_USERNAME }}
  REGISTRY_PASSWORD: ${{ secrets.REGISTRY_PASSWORD }}
  SECRET_ID: ${{ secrets.SECRET_ID }}
  SECRET_KEY: ${{ secrets.SECRET_KEY }}
  REGION: ${{ secrets.REGION }}
  CREATE_INSTANCES_PARAM: ${{ secrets.CREATE_INSTANCES_PARAM }}
  PASSWORD: ${{ secrets.PASSWORD }}
  NEED_DELETE: ${{ secrets.NEED_DELETE }}
  DOCKER_HUB_ACTION_AUTH: ${{ secrets.DOCKER_HUB_ACTION_AUTH }}
  INSTANCE_TYPES: ${{ secrets.INSTANCE_TYPES }}
  DOCKER_PULL_CONFIG: ${{ secrets.DOCKER_PULL_CONFIG }}
jobs:
  image:
    name: build tke image
    runs-on: self-hosted
    if: contains(github.event.head_commit.message, 'installer')
      || contains(github.event.head_commit.message, 'platform')
      || contains(github.event.head_commit.message, 'cluster')
      || contains(github.event.head_commit.message, 'gateway')
      || contains(github.event.head_commit.message, 'addon')
      || contains(github.event.head_commit.message, 'registry')
      || contains(github.event.pull_request.title, 'installer')
      || contains(github.event.pull_request.title, 'platform')
      || contains(github.event.pull_request.title, 'cluster')
      || contains(github.event.pull_request.title, 'gateway')
      || contains(github.event.pull_request.title, 'addon')
      || contains(github.event.pull_request.title, 'registry')
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: build and push platform image
        run: |
          make push IMAGES="tke-platform-api tke-platform-controller" VERSION=${{ github.sha }}
  platform1:
    name: platform test - 1.19.7
    needs: image
    runs-on: self-hosted
    env:
      K8SVERSION: 1.19.7
    steps:
      - name: printversion
        env:
          LABELNAME_CONTEXT: ${{ toJson(github.event.pull_request.labels.*.name) }}
        run: |
          echo "$LABELNAME_CONTEXT"
      - name: e2e test
        run: |
          mkdir -p test/e2e/platform/provider/baremetal/ && cp -r pkg/platform/provider/baremetal/conf test/e2e/platform/provider/baremetal/ && ginkgo -nodes=3 -v test/e2e/platform
