name: release

on:
#  repository_dispatch:
#    types: [release]
#    schedule:
#      - cron:  '45 11 * * *'

    pull_request:
      branches:
        - master

env:
  VERSION: 1.5.1

jobs:
  release:

    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v2

#      - uses: azure/docker-login@v1
#        with:
#          username: ${{ secrets.REGISTRY_USERNAME }}
#          password: ${{ secrets.REGISTRY_PASSWORD }}

#      - name: Build release
#        run: |
#          (
#          cat <<EOF
#          {
#            "msgtype": "markdown",
#            "markdown": {
#              "content": "<font color=\"info\">${{ github.repository }}: Start build release.</font>\n
#          >version: <font color=\"comment\">$VERSION</font>"
#            }
#          }
#          EOF
#          ) | curl '${{ secrets.WECHATWORK_WEBHOOK }}' \
#             -H 'Content-Type: application/json' \
#             -d @-

#          echo $VERSION

#          (
#          cat <<EOF
#          {
#            "msgtype": "markdown",
#            "markdown": {
#              "content": "<font color=\"info\">${{ github.repository }}: Build release success.</font>\n
#          >version: <font color=\"comment\">$VERSION</font>
#          "
#            }
#          }
#          EOF
#          ) | curl '${{ secrets.WECHATWORK_WEBHOOK }}' \
#             -H 'Content-Type: application/json' \
#             -d @-

      - name: Test release
#        if: ${{ success() }}
        run: make release-test
#          (
#          cat <<EOF
#          {
#            "msgtype": "markdown",
#            "markdown": {
#              "content": "<font color=\"info\">${{ github.repository }}: Start test release.</font>\n
#          >version: <font color=\"comment\">$VERSION</font>
#          "
#            }
#          }
#          EOF
#          ) | curl '${{ secrets.WECHATWORK_WEBHOOK }}' \
#             -H 'Content-Type: application/json' \
#             -d @-

#      - name: Report status
#        if: ${{ always() }}
#        run: |
#          (
#          cat <<EOF
#          {
#            "msgtype": "markdown",
#            "markdown": {
#              "content": "<font color=\"info\">${{ github.repository }}: Build release finished.</font>\n
#          >version: <font color=\"comment\">$VERSION</font>\n
#          >status:  <font color=\"warning\">${{ job.status }}</font>\n
#          >committer: <font color=\"comment\">${{ github.actor }}</font>\n
#          "
#            }
#          }
#          EOF
#          ) | curl '${{ secrets.WECHATWORK_WEBHOOK }}' \
#             -H 'Content-Type: application/json' \
#             -d @-
